@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Reem Kufi", sans-serif;
}

main {
  margin: 10px auto;
  max-width: 35vw;
  background-color: white;
  padding: 0 22px 40px 24px;
  .main {
    border-radius: 4px;
    text-align: center;
    border: 1pt solid #bbb9b9;
    #result {
      background-color: hsla(0, 0%, 0%, 0.8);
      padding: 16px;
      text-align: end;
      font-size: 48px;
      color: white;
    }
    .buttons {
      padding: 24px;
      .box {
        background-color: #e7e5e5;
        border: 1pt solid #bbb9b9;
        padding: 12px;
        font-size: 30px;
        border-radius: 4px;
        &:hover {
          cursor: pointer;
          background-color: #bbb9b9;

          border: 1pt dotted #646060;
        }
        width: 82px;
        &.button {
          background-color: #f0595f;
        }
        i {
          color: #337cac;
        }
        &#submit {
          height: 70%;
          background-color: #2e86c0;
        }
      }
      .operators {
        display: flex;
        justify-content: space-between;
      }
      .calc {
        display: flex;
        justify-content: space-between;
        .numbers {
          display: grid;
          width: 100px;
          margin-top: 20px;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          gap: 20px 18px;
        }
        .sub {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          & .box {
            height: 72px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
