@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #19181f;
  color: white;
  font-family: "Montserrat", sans-serif;
  nav {
    display: flex;
    padding: 24px 48px;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-color: #1a1a40;
    color: hsla(0, 0%, 100%, 0.8);
    font-weight: 700;
    // margin-bottom: 92px;
    align-items: center;
    .nav {
      align-items: center;
      display: flex;
      input {
        color: hsla(0, 0%, 100%, 0.8);
        background: url("./icons/search.svg") no-repeat scroll 7px 7px;
        padding: 16px 4px 16px 10px;
        height: 24px;
        border-radius: 18px;
        border: 1px solid gray;
        width: 100%;
        outline: none;
        padding-left: 28px;
        font-size: 18px;
      }
      p:first-child {
        cursor: pointer;
        padding-right: 24px;
      }
    }
  }
  main {
    display: grid;
    margin: 100px auto;
    max-width: 100%;
    gap: 24px 1px;
    padding-left: 72px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    a {
      text-decoration: none;
      max-width: 88%;
      transition: all 0.2s ease-in-out;
      img {
        width: 200px;
        border-radius: 8px;
      }
      &:hover {
        transform: scale(1.05);
      }
      .text {
        color: white;
        h3 {
          font-size: 20px;
          font-weight: 700;
          line-height: 1/3;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          color: hsla(0, 0%, 100%, 0.8);
        }
      }
    }
  }
  #single {
    display: flex;
    max-width: 80%;
    margin: 7.2vw auto;
    justify-content: space-between;
    img {
      width: 400px;
      margin-right: 72px;
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 30px;
      }
      p {
        font-size: 20px;
        line-height: 1.3;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.8);
        max-width: 80%;
        &:last-child {
          margin-top: 30px;
        }
      }
      button {
        margin-top: 12px;
        padding: 16px;
        background-color: rgb(57, 57, 231);
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        border-radius: 50px;
      }
    }
  }
}
